header{
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 2px 9px 17px 0px rgba(112,88,88,0.75);
}
.menu{
gap: 80px;
margin-top: 20px;
}
.menu li{
  list-style: none;
}
a{
  text-decoration: none;
  font-size: 18px
}
.link{
 gap: 50px; 
}
